@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;800&display=swap");

:root {
  --bg-primary: #6244c5;
  --bg-secondary: #f6c349;
}

body {
  font-family: "Mukta", sans-serif;
}

.fw-bold {
  font-weight: 800;
}

.navbar-toggler {
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.bg-background {
  background-color: var(--bg-primary);
  background-image: url("./assets/4.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.my-btn {
  font-weight: 600;
  background-color: inherit;
  outline: none;
  border: none;
  border-radius: 0px;
  text-decoration: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: var(--bg-primary) !important;
}

.text-secondary {
  color: var(--bg-secondary) !important;
}

.btn-border-secondary {
  border: 2px solid var(--bg-secondary) !important;
  color: var(--bg-secondary) !important;
}

.btn-secondary {
  background-color: var(--bg-secondary) !important;
  border: 2px solid var(--bg-secondary);
}

.btn-border-primary {
  border: 2px solid var(--bg-primary);
  color: var(--bg-primary);
}

.btn-primary {
  background-color: var(--bg-primary) !important;
  border: 2px solid var(--bg-primary);
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.top-header {
  font-size: 2.3rem;
  color: var(--bg-secondary);
}

.nav-link {
  font-size: 1.05rem;
}

.main-header {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
}

.my-lead {
  font-size: 2.2rem;
  opacity: 0.7;
}

.w-90 {
  width: 90%;
}

.my-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.big-head {
  font-size: 3rem;
}

.opaq {
  opacity: 0.5;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: white;
  margin-left: 8px;
  animation: blink 0.6s linear infinite alternate;
}

.cc {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.progress,
.progress-bar {
  height: 10px;
}

.text-md {
  font-size: 1.1rem;
  line-height: 2rem;
}

.w-img {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  object-fit: cover;
}

.br-0 {
  border-radius: 0px;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.card-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.form-control {
  border-radius: 0px;
  padding: 0.6rem 1.5rem;
  background-color: inherit;
  resize: none;
}

.form-control:focus {
  background-color: inherit;
}

.x-overflow {
  white-space: nowrap !important;
  overflow-x: auto !important;
}

.border-none {
  border: none;
}

.portfolio {
  position: relative;
}

.portfolio img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.portfolio .bottom {
  position: absolute;
  bottom: 0rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1.2rem 1.8rem;
  font-weight: 600;
  width: 100%;
}
