@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;800&display=swap");

:root {
  --bg-primary: #6244c5;
  --bg-secondary: #f6c349;
}

body {
  font-family: "Mukta", sans-serif;
}

.fw-bold {
  font-weight: 800;
}

.navbar-toggler {
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.bg-background {
  background-color: var(--bg-primary);
  background-image: url("./assets/4.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.my-btn {
  font-weight: 600;
  background-color: inherit;
  outline: none;
  border: none;
  border-radius: 0px;
  text-decoration: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: var(--bg-primary) !important;
}

.text-secondary {
  color: var(--bg-secondary) !important;
}

.btn-border-secondary {
  border: 2px solid var(--bg-secondary) !important;
  color: var(--bg-secondary) !important;
}

.btn-secondary {
  background-color: var(--bg-secondary) !important;
  border: 2px solid var(--bg-secondary);
}

.btn-border-primary {
  border: 2px solid var(--bg-primary);
  color: var(--bg-primary);
}

.btn-primary {
  background-color: var(--bg-primary) !important;
  border: 2px solid var(--bg-primary);
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.top-header {
  font-size: 2.3rem;
  color: var(--bg-secondary);
}

.nav-link {
  font-size: 1.05rem;
}

.main-header {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
}

.my-lead {
  font-size: 2.2rem;
  opacity: 0.7;
}

.w-90 {
  width: 90%;
}

.my-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.big-head {
  font-size: 3rem;
}

.opaq {
  opacity: 0.5;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: white;
  margin-left: 8px;
  animation: blink 0.6s linear infinite alternate;
}

.cc {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.progress,
.progress-bar {
  height: 10px;
}

.text-md {
  font-size: 1.1rem;
  line-height: 2rem;
}

.w-img {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  object-fit: cover;
}

.br-0 {
  border-radius: 0px;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.card-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.form-control {
  border-radius: 0px;
  padding: 0.6rem 1.5rem;
  background-color: inherit;
  resize: none;
}

.form-control:focus {
  background-color: inherit;
}

.x-overflow {
  white-space: nowrap !important;
  overflow-x: auto !important;
}

.border-none {
  border: none;
}

.portfolio {
  position: relative;
}

.portfolio img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.portfolio .bottom {
  position: absolute;
  bottom: 0rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1.2rem 1.8rem;
  font-weight: 600;
  width: 100%;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-loader.hidden {
  display: none;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
